{% extends 'base.html' %}
<hr />

{% block page_title %}Artikel{% endblock page_title %}
<hr />

{% block contents %}

<div class="row">
  <div class="col-md-8">
    {% if is_paginated %}

    <nav aria-label="artikelPage">
      <ul class="pagination">
        {% if page_obj.has_previous %}
        <li class="page-item">
          <a
            class="page-link"
            href="{% url 'artikel:list' page_obj.previous_page_number %}"
            >Previous</a
          >
        </li>
        {% else %}
        <li class="page-item disabled">
          <a class="page-link" href="#">Previous</a>
        </li>
        {% endif %}
        <br />

        {% for page in paginator.page_range %}
        <br />
        {% if page is page_obj.number %}
        <li class="page-item active">
          <span class="page-link" aria-current="page" href="#">{{page}}</span>
        </li>
        {% else %}
        <li class="page-item">
          <a class="page-link" href="{% url 'artikel:list' page %}">{{page}}</a>
        </li>
        {% endif %}

        <br />
        {% endfor %}

        <br />

        {% if page_obj.has_next %}
        <li class="page-item">
          <a
            class="page-link"
            href="{% url 'artikel:list' page_obj.next_page_number %}"
            >Next</a
          >
        </li>
        {% else %}
        <li class="page-item disabled">
          <a class="page-link" href="#">Next</a>
        </li>
        {% endif %}
      </ul>
    </nav>

    {% endif %} <span> </span>
    {% comment %} {% endcomment %} {% for artikel in artikel_list %}
    <h3>
      <a
        class="text-dark link-offset-2 link-underline link-underline-opacity-0"
        href="{% url 'artikel:detail' artikel.slug %}"
        >{{artikel.judul}}</a
      >
    </h3>
    <p>Kategori: {{artikel.kategori}} | {{artikel.published}}</p>
    <p class="border-bottom">
      {{artikel.isi|truncatewords:51}}
      <a
        class="link-offset-2 link-underline link-underline-opacity-0"
        href="{% url 'artikel:detail' artikel.slug %}"
        ><i>Selengkapnya</i></a
      >
    </p>
    {% endfor %}
    <br />
  </div>
  <div class="col sm">
    <h3>Kategori</h3>
    <ul class="list-group list-group-flush">
      {% for kategori in kategori_list %}
      <li class="list-group-item">
        <a
          href="{% url 'artikel:category' kategori 1 %}"
          class="link-success link-offset-2 link-underline-opacity-0 link-underline-opacity-100-hover link-opacity-75"
          >{{kategori}}</a
        >
      </li>
      {% endfor %}
    </ul>
  </div>
</div>

{% endblock contents %}
